/* layout */
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.ftco-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in {
    margin-top: 10px;
    font-weight: 900;
}

.wrap {
    width: 100%;
}

.d-md-flex {
    display: flex;
}

form {
    display: block;
}

div {
    display: block;
}

/* Layout */
.text-wrap,
.login-wrap {
    width: 50%;
}

/* color and text - Dark Mode */
body {
    background-color: #2c2f33;
    color: #bfc5d2;
}

.ftco-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrap {
    position: relative;
    background-color: #4a4e57;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    filter: brightness(0.9);
}

.text-wrap {
    background-color: #36393f;
    border-radius: 10px;
    color: #ffffff;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    color: #d3d6dc;
}

/* Logo and button styles */
.logo-login {
    size: 3rem;
    text-align: center;
    margin-bottom: 60px;
}

.logo-login .setting-top {
    background-color: #596275;
    color: #fff;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}

.login-title {
    font-weight: 700;
}

/* Buttons and form */
.social-media .social-icon {
    margin-right: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #596275;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    width: 60px;
    font-size: 14px;
    position: relative;
    right: 100px;
    border-radius: 30%;
    background-color: #4a4e57;
    color: #fff;
}

.form-family {
    color: #d3d6dc;
    font-weight: 700;
}

.form-family input {
    border-radius: 20px;
    background-color: #4a4e57;
    color: #d3d6dc;
}

.form-family .btn {
    display: block;
    width: 100%;
    line-height: 1.5;
    border-radius: 20px;
    margin-top: 35px;
    background-color: #596275;
    color: #d3d6dc;
    font-weight: 700;
}

.btn-primary {
    background-color: #3b3e45;
}

h2,
h3 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #ffffff;
    font-size: 2rem;
}

.text-wrap .text h2 {
    font-weight: 900;
    color: #fff;
}

.d-flex .sign-in h2 {
    font-weight: 900;
    color: #fff;
}

.d-flex .text-left {
    color: #fff;
    font-weight: 700;
}

.forgot-password {
    display: flex;
    flex-direction: row-reverse;
}

.d-flex .text-right .link-underline {
    color: #d3d6dc;
    font-weight: 700;
}
